{% extends "lapcartAPP/layout.html" %}

{% block title %}
<title>Show</title>
{% endblock %}

{% block content %}
<table class="table table-bordered" style="padding:5%">
    <tr>
        <th>ID</th>
        <th>Company</th>
        <th>Model</th>
        <th>Processor</th>
        <th>Price</th>
        <th>Rom</th>
        <th>Ram</th>
        <th>Image</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    {% for i in product %}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.company}}</td>
        <td>{{i.model}}</td>
        <td>{{i.processor}}</td>
        <td>{{i.price}}</td>
        <td>{{i.rom}}</td>
        <td>{{i.ram}}</td>
        <td><img src=">{{i.image}}"></td>
        <td><a href="/cart/update/{{i.id}}"><button class="btn btn-danger">Update</button></a></td>
        <td><a href="/cart/delete/{{i.id}}"><button class="btn btn-warning">Delete</button></a></td>
    </tr>
    {% endfor %}
</table>
<a href="/cart/add/" style="margin:50%"><button class="btn btn-primary" >ADD</button></a>
{% endblock %}